@{
}

<div class="list-group">
    <a asp-controller="TestSignalR"
       asp-action="TestChatRoom"
       class="list-group-item list-group-item-action">
        Chat Room
    </a>
    <a asp-controller="TestSignalR"
       asp-action="TestChatManager"
       class="list-group-item list-group-item-action">
        Chat Manager
    </a>
</div>
