@using Microsoft.AspNetCore.Identity
@using ProjectAspEShop2024.AppIdentity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectAspEShop2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectAspEShop2024.styles.css" asp-append-version="true" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

    <link href="~/bootstrap-slider/css/bootstrap-slider.min.css" rel="stylesheet" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">  

            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjectAspEShop2024</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if(User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" 
                                    asp-area="" 
                                    asp-controller="Admin" 
                                    asp-action="UsersView">
                                    Управление пользователями
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-controller="Admin"
                                   asp-action="RolesView">
                                    Управление ролями
                                </a>
                            </li>
                        }
                        @if(User.IsInRole("content_manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" 
                                    asp-area="" 
                                    asp-controller="ContentManager" 
                                    asp-action="Index">
                                    Управление контентом
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("sales_manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-controller="SalesManager"
                                   asp-action="Index">
                                    Управление продажами
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                            asp-area="" 
                            asp-controller="Home" 
                            asp-action="Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-area=""
                               asp-controller="TestSignalR"
                               asp-action="Index">
                                Test SignalR
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-area=""
                               asp-controller="TestAngular"
                               asp-action="EditCartView">
                                TestAngular-Cart
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-area=""
                               asp-controller="TestVue"
                               asp-action="EditCartView">
                                TestVue-Cart
                            </a>
                        </li>

                        <li class="nav-item">
                            <a 
                                class="nav-link text-dark" 
                                asp-area="" 
                                asp-controller="Home" 
                                asp-action="Privacy">
                                Privacy
                            </a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>

            @await Component.InvokeAsync("CartWidget")

        </nav>
    </header>
    
    <div class="container row">
        <div class="col-2" style="border:solid 1px gray;">
            @await Component.InvokeAsync("MenuCategory")
            @await Component.InvokeAsync("FiltersWidget")
        </div>
        <div class="col-10">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ProjectAspEShop2024 - 
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/bootstrap-slider/bootstrap-slider.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
