@{
}

<h2>Функционал менеджера по продажам</h2>

<div class="list-group">
    <a asp-controller="SalesManager"
       asp-action="ChatClientsView"
       class="list-group-item list-group-item-action">
        Чат с клиентами
    </a>
    <a asp-controller="SalesManager"
       asp-action="ChatClientsView"
       class="list-group-item list-group-item-action">
        Пустой
    </a>
    <a asp-controller="SalesManager"
       asp-action="MaterialChatManagerView"
       class="list-group-item list-group-item-action">
        Material Chat Manager
    </a>
</div>
