@{
    ViewData["Title"] = "Home Page";
    int x = 10;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

   <a asp-controller="Product" asp-action="Index">
       Товары
   </a>

</div>
